.hide {
    display: none;
}



p {
    text-align: center;
}

#errorPup {
    all: unset;
    width: 25%;
    margin: 10px auto;
    display: block;
}
.hide#errorPup {
    display: none;
}


h1 {
    text-align: center;
    margin: 10px;
}
nav {
    display: flex;
    justify-content: center;
    margin: 10px;
}
input {
    display: block;
    margin: 10px auto;
}
input[type=range]{
    width: 75%;
}

form {
    width: 90%;
    margin: 10px auto;
    text-align: center;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 90%;
    margin: 10px auto;
}
ul > img {
    display: block;
    margin: auto;
    max-height: 60vh
}

li {
    height: 40vh;
    flex-grow: 1;
}
li img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
li:last-child{
    flex-grow: 10;
}

#loading {
    width: 25%;
    margin: 10px auto;
    min-width: 0; /* reset */
    display: block;
}

.hide#loading{
    display: none;
}

/* Dog bone buttons */

.bone{
    margin: 10px;
    position: relative;
    width: 150px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: none;
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}
.c1, .c2, .c3, .c4{
    background:#fff;
    height: 30px;
    width: 30px;
    border: 1px solid #000;
    border-radius: 50%;
    position:absolute;
}
.c1{
    left: 0;
    top: 0;
}
.c2{
    right: 0;
    top: 0;
}
.c3{
    left: 0;
    bottom: 0;
}
.c4{
    bottom: 0;
    right: 0;
}
.b1 {
    background:#fff;
    height: 30px;
    width: 120px;
    position:absolute;  
    left: 15px;
    top: 15px;
}
.b2 {
    position: absolute;
    left: 15px;
    top: 0;
    width: 90px;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
   
}

.bone:hover{
    transform: scale(1.05) rotate(3deg);
    cursor: pointer;
}
.bone.active{
    transform: rotate(-4deg) scale(1.15);
    font-weight: 800;
            }

@media (max-aspect-ratio : 1/1) {
    li {
        height: 30vh;
    }
}
@media (max-height: 480px){
    li {
        height: 80vh;
    }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px){
    ul {
        flex-direction: row;
    }

    li {
        height: auto;
        width: 100%;
    }
    img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
}